.resume--list {
  @extend %bullet-list-orange;

  margin: {
    top: 1px;
    top: 1rem;
  }
  padding: {
    left: 25px;
    left: 2.5rem;
  }
  .list-item {
    margin: {
      bottom: 5px;
      bottom: 0.5rem;
    }
  }
}
