.footer--link {
  @include font-details($size: 48px, $color: $gray, $height: 1);
  font-size: 4.8rem;

  float: left;
  display: block;
  margin: 0 5px;
  margin: 0 0.5rem;
  height: 48px;
  height: 4.8rem;
  width: 48px;
  width: 4.8rem;

  &:hover {
    color: $gray;
    text-decoration: none;
    opacity: 0.7;
  }
}
.footer--link-github {
  @extend %icon-replace;
  @extend .fa-github;

  &:before {
    @include font-details($size: 54px);
    font-size: 5.4rem;

    position: relative;
    top: -2px;
    top: -0.2rem;
  }
}
.footer--link-mjbondra {
  @extend %image-replace;

  border: {
    radius: 24px;
    radius: 2.4rem;
  }
  background: {
    image: url('https://mjbondra.com/img/bg/mjbondra.small.png');
    position: right;
    size: 58px 48px;
    size: 5.8rem 4.8rem;
  }
}
