<section class="resumes">
  <header class="resumes--header">
    <h2 class="resumes--header--title" data-send-pageview data-set-title>Resume Filters</h2>
    <form class="resumes--header--form">
      <formset class="resumes--header--formset resumes--header--search-general">
        <h3 class="formset--title">General</h3>
        <label class="resumes--header--label"><span class="label--title">Keyword(s)</span>
          <input class="sear" type="text" data-ng-model="search.$">
        </label>
        <label class="resumes--header--label"><span class="label--title">Last Name</span>
          <input type="text" data-ng-model="search.lastName">
        </label>
      </formset>
      <formset class="resumes--header--formset resumes--header--search-education">
        <h3 class="formset--title">Education</h3>
        <label class="resumes--header--label"><span class="label--title">School</span>
          <input type="text" data-ng-model="searchEducation.school">
        </label>
        <h4 class="label--title">Degree <span class="label--description">(Independent of School)</span></h4>
        <label class="resumes--header--label-checkbox">
          <input type="radio" data-ng-model="searchEducation.degree" value="bachelors">
          <span class="label-checkbox--title">Bachelor's</span>
        </label>
        <label class="resumes--header--label-checkbox">
          <input type="radio" data-ng-model="searchEducation.degree" value="masters">
          <span class="label-checkbox--title">Master's</span>
        </label>
        <label class="resumes--header--label-checkbox">
          <input type="radio" data-ng-model="searchEducation.degree" value="doctorate">
          <span class="label-checkbox--title">Doctorate</span>
        </label>
      </formset>
      <formset class="resumes--header--formset resumes--header--search-work-experiences">
        <h3 class="formset--title">Work</h3>
        <label class="resumes--header--label"><span class="label--title">Company</span>
          <input type="text" data-ng-model="searchWork.company">
        </label>
        <label class="resumes--header--label"><span class="label--title">Location</span>
          <input type="text" data-ng-model="searchWork.location">
        </label>
      </formset>
    </form>
    <a class="resumes--header--form-clear" role="button" data-ng-click="clearFilters()">Clear Filters</a>
  </header>
  <article
    class="resume"
    data-ng-repeat="resume in resumes | pruneResumes | filter:search | searchEducation:searchEducation | searchWork:searchWork | orderBy:'lastName'">
    <h2 class="resume--name"><a href="/{{ resume.resumeKey }}">{{ resume | displayName }}</a></h2>
    <h3 class="resume--headline">{{ resume.headline }}</h3>
  </article>
</section>
